.about {
    display: flex;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;


    &__title {
        font-size: 8rem;
        color: black;
        margin-top: 10vh;

    }

    &__desc {
        margin-top: 5vh;
        font-size: 2rem;
        color: rgb(90, 90, 90);
        width: 60%;
        text-align: center;
    }

    &__desc-2 {
        margin-top: 5vh;
        font-size: 2rem;
        color: rgb(90, 90, 90);
        width: 60%;
        text-align: center;
    }

    &__icon {
        font-size: 3rem;
        color: rgb(15, 15, 187);
        margin: 0 .5rem;
    }
}


  

.clipped_background {
    background-image: linear-gradient(to right, rgba(48, 149, 207, .5), rgba(101, 178, 223, .5), rgba(251, 211, 255, .8), rgba(120, 14, 190, .5));
}

@media screen and (max-width: 1300px) {
    .about { 
        &__title {
            font-size: 6rem;
            color: black;
            margin-top: 8vh;
    
        }
    
        &__desc {
            font-size: 2rem;
        }
    
        &__desc-2 {
            font-size: 2rem;
        }
    
        &__icon {
            font-size: 2rem;

        }
    }
}

@media screen and (max-width: 800px) {
    .about { 
        height: 100vh;
        &__title {
            font-size: 4.8rem;
            color: black;
            margin-top: 8vh;
    
        }
    
        &__desc {
            font-size: 1.5rem;
        }
    
        &__desc-2 {
            font-size: 1.5rem;
        }
    
        &__icon {
            font-size: 2rem;

        }
    }
}