.footer {
    background-color: rgba(38, 40, 58, 0.8);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    &__group {
        display: flex;
        margin-left: 6%;
        
    }

    &__text {
        font-size: 1.4rem;
        color: rgb(151, 151, 151);
        font-weight: 300;
        font-family: 'MetropolisRegular';
        margin-right: 3rem;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        &__group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            
        }
    
        &__text {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}