.about-us-title-page {
    padding: 0 5% 11% 5%;
    background: linear-gradient(-45deg, rgb(214, 205, 18),rgb(231, 175, 8),rgb(217, 101, 43), rgb(179, 48, 16));
    background-size: 400% 400%;
    position: relative;
    animation: bg-animation 10s ease-in-out infinite;
}

@keyframes bg-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.cursive-title {
    font-family: 'Sacramento';
    color: rgb(255, 255, 255);
    text-align: right;
    margin: 5% 3% 0 0;
    font-size: 200px;

}   

.personal-title {
    color: rgb(255, 255, 255);
    font-family: 'Rokkitt', serif;
    font-size: 8vw;
}

.about-us-desc {
    color: white;
    font-family: 'MetropolisRegular';
}

@media screen and (max-width: 1000px) {
    .cursive-title {
        font-size: 120px;
    } 

}

@media screen and (max-width: 800px) {
    .cursive-title {
        font-size: 15vw;
    } 

    .personal-title {
        font-size: 8vw;
    }
    
    .about-us-desc {
        font-size: 2.5vw;
    }
}

.services-title {
    text-align: center;
    margin: auto;
}

/* Second Section */

.about-us-second-section {
    margin-top: 10%;
    margin-bottom: 10%;
}

.my-story-title {
    color: rgb(0, 0, 0);
    font-family: 'MetropolisRegular';
    font-weight: 600;
    font-size: 100px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .my-story-title {
        font-size: 70px !important;
    }
}

.profile-picture {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

.story-text {
    font-family: 'MetropolisRegular';
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 17px;
}

.story-sub-text {
    font-family: 'MetropolisRegular';
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 17px;

}



.purp-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(239, 151, 28), rgb(228, 221, 22));
    position: absolute;
    margin-left: 37%;
    margin-top: 3%;
    transition: 2s;
    z-index: -1;
}

.purp-circle2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(151, 21, 21), rgb(228, 111, 65));
    position: absolute;
    margin-left: 5%;
    margin-top: 35%;
    transition: 2s;
    z-index: -1;
}

.blue-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(213, 19, 151), rgb(213, 11, 24));
    position: absolute;
    margin-left: 15%;
    margin-top: 13%;
    transition: 2s;
    z-index: -1;
}

.blue-circle2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(205, 202, 21), rgb(146, 8, 8));
    position: absolute;
    margin-left: 90%;
    margin-top: 45%;
    transition: 2s;
    z-index: -1;
}

@media screen and (max-width: 1260px) {
    .marker-image {
        margin-left: -3%;
        margin-top: 14%;
        width: 500px;
    }
    
    .purp-circle {
        margin-left: 75%;
        margin-top: 3%;

    }
    
    .purp-circle2 {
        display: none;
    }
    
    .blue-circle {
        margin-left: 15%;
        margin-top: 5%;

    }
    
    .blue-circle2 {
        margin-left: 90%;
        margin-top: 53%;

    }
}

@media screen and (max-width: 991px) {
    .marker-image {
        margin-left: 23%;
        margin-top: 14%;
        max-width: 500px;
    }
    
    .purp-circle {
        margin-left: 5%;
        margin-top: 7%;
    }

    
    .blue-circle {
        margin-left: 85%;
        margin-top: 17%;

    }
    
    .blue-circle2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .marker-image {
        margin-left: 20%;
        margin-top: 15%;
        max-width: 500px;
    }
    
    .purp-circle {
        margin-left: 5%;
        margin-top: 7%;
    }

    
    .blue-circle {
        margin-left: 85%;
        margin-top: 17%;

    }
    
    .blue-circle2 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .marker-image {
        margin-left: 15%;
        margin-top: 17%;
        max-width: 500px;
    }
    
    .purp-circle {
        margin: 0;
        margin-top: 7%;
    }

    
    .blue-circle {
        margin-left: 85%;
        margin-top: 17%;

    }
}

@media screen and (max-width: 800px) {
    .marker-image {
        display: none;
    }
    
    .purp-circle {
        margin: 0;
        margin-top: 7%;
    }

    
    .blue-circle {
        display: none;
    }
}